@media screen and (max-width: 767px) {

}

@media screen and (max-width: 600px) {
 
}

@media screen and (max-width: 565px) {
    .carousel-template {
        max-width:335px;
        margin: 0 auto;
        
        .slide-item {
            padding: 0 0px;
        }
    }
    .card{
        .btn-row {
            .btn {
                width: 139px;
                padding: 13px 10px;
                letter-spacing: 0px;
            }
        } 

    } 
}
