.delivery {
    
        position: relative;
    
        .card-img-box {
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            height: 229px;
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
                object-position: center;            
            }
        }
  
}

