.first-screen {
    @extend section;
    max-width: calc(100% - 84px);
    position: relative;
    margin-bottom: 96px;
    
    &__title {
        @extend h1; 
        margin-bottom: 8px;
        max-width: 463px;
        text-transform: uppercase;
    }
    
    &__subtitle {
        margin-bottom: 37px;
        max-width: 345px;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 135.5%;  
    }
     
    .first-screen__item {
        display: flex;
    }

    &__item {
        min-height: 700px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        padding-bottom: 64px;
        padding: 0 92px 64px;
    }
    .first-screen-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1568px;
        height: 0;
    }
    
    .slick-arrow {
        transform: translate(0, -50%);
        &.slick-prev {
            transform: rotate(180deg) translate(0, 50%);
        }
    }
    .slick-dots{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 43px;
    }
}